<.header>
  New Meme
  <:subtitle>Use this form to manage meme records in your database.</:subtitle>
</.header>

<.meme_form changeset={@changeset} action={~p"/memes"} />

<.back navigate={~p"/memes"}>Back to memes</.back>
